body {
    font-family: Arial, sans-serif;
    color: rgb(3, 3, 3);
    text-align: center;
}
.titulo {
    font-size: 50px;
    margin-bottom: 100px
}
.container {
    margin-top: 100px;
}
.imageForca {
    width: 100px;
    height: auto;
}
.img1{
    width: 200px;
    height: 200px;
    display: flex;
}
.img2{
    width: 200px;
    height: 130px;
    display: none;
}
.img3{
    width: 200px;
    height: 130px;
    display: none;
}
.img4{
    width: 200px;
    height: 130px;
    display: none;
}
.img5{
    width: 200px;
    height: 200px;
    display: none;
}
.img6{
    width: 200px;
    height: 230px;
    display: none;
}
.imagens{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
border: 2px solid black;
margin-left: 900px;
margin-right: 900px;
}